.nav {
    grid-area: n;
    background-color: cadetblue;
    padding: 20px;
}

.item a {
    color: rgb(225, 245, 238);
    text-decoration: none;
    
}

.item a.active {
    color: rgb(3, 52, 31);
    cursor: default;
}




